@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.big {
    width: 100%;
    height: 100%;
    background: url('../img/back.png');
    background-position: center bottom;
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    color: #34495e;
}
.wrapper {
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 100%;
}
.header .wrapper {
    width: 70% !important;
}
.center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-size: 16px;
}
.label {
    height: 30%;
    position: absolute;
    display: inline-block;
    top: 21%;
    right: 7%;
    -webkit-animation: pulse 2500ms linear infinite;
    -moz-animation: pulse 2500ms linear infinite;
    -o-animation: pulse 2500ms linear infinite;
    animation: pulse 2500ms linear infinite;
}
.label img {
    height: 100%;
}
div.header {
    width: 100%;
    line-height: 80px;
    height: 80px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 30px 0;
    background: transparent;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.header.changed {
    padding: 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2)
}
.header span.links {
    display: inline-block;
    float: right;
}
h1 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #424054;
    text-align: center;
}
span.links a {
    color: #34495e;
    font-size: 13px;
    display: inline-block;
    margin: 0 10px;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
span.links a:hover {
    color: #64798e;
    border-bottom: 2px solid #64798e;
}
span.logotype {
    display: inline-block;
    float: left;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 0;
}
.logotype img {
    height: 100%;
}
.small {
    width: 100%;
    padding: 120px 0;
    text-align: left;
    font-size: 22px;
    font-weight: 300;
}
.small#about {
    background: #ffffff;
    color: #6d7589;
}
.small#job {
    background: #f0f2f6;
    font-size: 0;
    text-align: center;
}
#job .single {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    margin: 15px 0;
    text-align: center;
}
.single {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    margin: 15px 0;
    text-align: center;
}
.single2 {
    margin: 15px;
    text-align: center;
}
.small2 .container {
    display: flex;
}
.small2 .container .subitem {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.small2 .container .subitem a {
    text-decoration: none;
    outline: none !important;
}
.single2 img {
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
}
.single2:hover > span {
    text-decoration: underline;
}
.single2 span {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
    color: #424054;
    text-decoration: none;
}
.small2 .single img {
    width: 100%;
    margin-bottom: 20px;
}
.small2 {
    width: 100%;
    padding: 120px 0;
    text-align: left;
    font-size: 22px;
    font-weight: 300;
    background: #F0F2F6;
    overflow: hidden;
}
.single img {
    width: 50%;
}
#job .single span {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin: 20px auto 0px;
    color: #424054;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
#job .single:hover {
    opacity: .7;
}

/*#job .single:hover > span {
  border-bottom: 3px solid #424054;
  margin-bottom: 12px;
}*/
.small#contact {
    text-align: center;
}
#contact p {
    margin-top: 25px;
}
#contact p a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #6d7589;
}
#contact form {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}
#contact form input, #contact form textarea {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ced4e2;
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
#contact form textarea {
    resize: none;
}
#contact form input:focus {
    border-color: #b9bec8;
}
#contact form input[type=submit] {
    width: 50%;
    background: none;
    font-size: 14px;
    color: #34495e;
    text-transform: uppercase;
    border: 3px solid #34495e;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0px;
}
.copyright {
    background: #f0f2f6;
    width: 100%;
    padding: 40px 0px;
    font-size: 15px;
    text-align: center;
}
.privacy {
    font-size: 15px;
}
.privacy p {
    margin-bottom: 20px;
}
.privacy p:last-of-type {
    margin-bottom: 0px;
}
.privacy ul {
    margin: 0 0 15px 15px;
}
#contact form input[type=submit]:hover {
    opacity: .7;
}
@media only screen and (max-width:1280px) {
    .wrapper {
        width: 70%;
    }
    #contact form {
        width: 50%;
    }
}
@media only screen and (min-device-width:320px) and (max-device-width:480px), only screen and (min-device-width:768px) and (max-device-width:1024px) {
    .big {
        background-attachment: scroll;
    }
}
@media only screen and (max-width:960px) {
    .small2 .container {
        display: block;
    }
    .small2 .container .subitem {
        margin-top: 70px;
    }
}
@media only screen and (orientation:portrait) {
    .label {
        top: 35%;
        height: 25%;
    }
    .big {
        background-size: contain;
    }
}
@media only screen and (min-device-width:320px) and (max-device-width:480px) {
    .header .wrapper {
        width: 95% !important;
    }
}